@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --primary: #1DB954;
  --p-hover: #1ED760;
  --secondary: #A0C3D2;
  --danger: #EB1E32;
  --warn: #FFC107;

  --light: #EFEFEF;
  --dark: #1C1C1C;
  --dark-2: #1C273A;
  --neutral: #C1C3C6;
  --neutral-2: #8F8F8F;

  --black: #000;
  --white: #FFF;
}